@font-face {
    font-family: Nunito Sans;
    src: url(./Fonts/NunitoSans-Black.ttf);
    src: url(./Fonts/NunitoSans-Bold.ttf);
}

* {
    text-decoration: none;
    color: white;
    font-family: Nunito Sans;
}

body {
    margin: 0;
    font-family: Nunito Sans, sans-serif;
    background-color: #1f1f1f; 
    color: #ffffff; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d0fb0;
    padding: 10px 20px;
}

.navbar .logo img {
    height: 100px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    border-radius: 10px;
}

.navbar ul li a:hover {
    background-color: #333333; 
    color: #ffffff;
}

.navbar ul li a.contact {
    background-color: #333333; 
    color: #ffffff;
}

.navbar ul li a.login {
    background-color: #333333; 
    color: #ffffff;
}

.navbar ul li a.contact:hover {
    background-color: #555555; 
    color: #ffffff;
}

.navbar ul li a.login:hover {
    background-color: #555555; 
    color: #ffffff;
}

/* Welcome Section */
.welcome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.welcome-img {
    width: 30%; 
    max-width: 400px;
    margin-right: 10px;
}

.welcome-text {
    width: 50%;
    max-width: 600px;
    margin-left: 10px;
    text-align: left;
}

/* Cards Section */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    width: 23%;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 80%; 
    height: auto;
    margin: 0 auto 10px auto;
}

.card h2 {
    color: #ffffff;
    margin: 10px 0;
}

.card .btn {
    display: inline-block;
    background-color: #5d0fb0;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.card .btn:hover {
    background-color: #ffffff;
    color: #5d0fb0;
}

@media (max-width: 1530px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .logo {
        margin-bottom: 10px;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .navbar ul li a {
        display: block;
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .welcome {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        padding: 10%;
    }

    .welcome-img, .welcome-text {
        width: 90%;
        margin: 10px 0;
    }

    .img{
        max-width: 100%;
        width: 100%;
    }

    .body1{
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .body2{
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .img{
        width: 100%;
        max-width: 100%;
    }
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 1530px) {
    .hamburger {
        display: flex;
    }

    .navbar ul {
        display: none;
    }

    .navbar ul.active {
        display: flex;
    }
}

p{
    font-size: 18px;
}

h3 {
    font-size: 20px;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}

footer{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50%;
    margin-top: 0px;
    margin-left: 20px;
}

.img {
    width: 50%; /* Adjust width as necessary */
    max-width: 100%;
    margin-right: 10px;
}

img{
    border-radius: 20px;
}

.body1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: #1b1b1b;
}

.body2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    background-color: #1b1b1b;
    margin-top: -90px;
}

.img2 {
    width: 50%;
    max-width: 100%;
    margin-left: 0;
}

.img3 {
    width: 50%;
    max-width: 100%;
    margin-left: 0;
}

.text1{
    max-width: 50%;
    padding: 50px;
}

.text2{
    max-width: 50%;
    padding: 50px;
}

.join-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.join-button button{
    width: 400px;
    height: 60px;
    font-size: 30px;
    background: #5d0fb0;
    padding: 2px;
    border: none;
    border: 5px;
    border-color: #ffffff;
    border-radius: 20px;
    transition: background-color, color, 0.2s;
}

.join-button button:hover{
    background-color: rgb(77, 32, 95);
    font-size: 30px;
    height: 60px;
    width: 450px;
    color: #5d0fb0;
    transition: background-color, color, width, 0.2s;
}

@media screen and (max-width: 1060px){
    .body1{
        padding: 40px;
    }

    .body2{
        padding: 40px;
    }

    .text1{
        max-width: 100%;
        padding: 0px;
    }

    .text2{
        max-width: 100%;
        padding: 0px;
    }

    .img2{
        max-width: 100%;
        padding: 0;
        width: 100%;
    }

    .img3{
        max-width: 100%;
        padding: 0;
        width: 100%;
    }

    .img{
        width: 100%;
        max-width: 100%;
        margin-right: 0; /* Remove right margin */
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery img {
    width: 30%; /* Adjust the width as needed */
    max-width: 100%; /* Ensure the images don't exceed their container */
    height: auto; /* Maintain aspect ratio */
    margin: 10px;
}

.iframe-container {
    position: relative;
    width: 65%;
    padding-top: 600px; /* 16:9 aspect ratio (divide 9 by 16 = 0.5625) */
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 30px;
    text-align: center;
    border: 2px;
    border-color: #5d0fb0;
    border-style: solid;
}

.login-container h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    color: black;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #5d0fb0;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.login-container button:hover {
    background-color: #7a33cc;
    width: 102%;
    margin-left: -1%;
    transition: all 0.3s;
}